<!-- included education -->
<div class="c-resume-entry">
  <div class="c-resume-entry__header">
    <h4 class="c-resume-entry__name">{{ education.degree }}</h4>
    <h5 class="c-resume-entry__title">{{ education.title }}</h5>
    <p class="c-resume-entry__details">
      {{ education.uni }}
      &bull;
      {{ education.year }}
    </p>


  </div><!-- end entry-header -->
  <div class="c-resume-entry__body">
    {% if education.awards %}
      <h6>Awards and Achievements:</h6>
      <ul class="c-resume-entry__task-list">
        {% for award in education.awards %}
          <li>{{ award.award }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div><!-- end entry body -->
</div>
<!-- end incldued Education-->