<!-- included project -->
<div class="c-entry">
  <div class="c-entry__header">
    <h4 class="c-entry__title">{{ project.role }}</h4>
    <h5 class="c-entry__subtitle">{{ project.title }}</h5>
    <p class="c-entry__date">{{ project.company }}
      &bull;
      {{ project.date }}
    </p>
    <p class="c-entry__summary">
      {{ project.summary }}
    </p>
    <!-- Link to project, if provided -->
    {% if project.url %}
      <p>
        <a href="{{ project.url }}" target="_blank">{{ project.title }}</a>
      </p>
    {% endif %}
  </div><!-- ./c-entry__header -->

  <div class="c-entry__body">
    <ul class="c-entry__list">
      {% for task in project.tasks %}
        <li>
          <strong>{{ task.title }}:
          </strong>
          {{ task.description }}
        </li>
      {% endfor %}
    </ul>
  </div><!-- ./entry-body -->
</div>
<!-- ./included project -->