<!-- included work -->
<div class="c-resume-entry">
  <div class="c-resume-entry__header">
    <h4 class="c-resume-entry__name">{{ work.position }}</h4>
    <p class="c-resume-entry__details">
      {{ work.company }}
      &bull;
      {{ work.duration }}
    </p>
    <p class="c-resume-entry__summary">{{ work.summary }}</p>
  </div><!-- end entry header -->
  <div class="c-resume-entry__body">
    <div class="c-resume-entry__task-list">
      <h6>Main Responsibilities:</h6>
      <ul>
        {% for task in work.tasks %}
          <li>
            <strong>{{ task.title }}:
            </strong>
            {{ task.description }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- end entry body -->
</div>
<!-- end included work -->
