<!-- included work -->
<div class="section-entry">
  <div class="entry-header">
    <h4 class="entry-role">{{ work.position }}</h4>
    <h4 class="entry-title">
      {{ work.company }}
      &bull;
      {{ work.duration }}
    </h4>
    <p class="resume-item-summary">{{ work.summary }}</p>
  </div><!-- end entry header -->
  <div class="entry-body">
    <div class="entry-task-list">
      <h6>Main Responsibilities:</h6>
      <ul>
        {% for task in work.tasks %}
          <li>
            <strong>{{ task.title }}:
            </strong>
            {{ task.description }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div><!-- end entry body -->
</div>
<!-- end included work -->
