// Type mixins
@mixin roboto {
  font-family: 'Roboto', serif;
}

@mixin roboto_regular {
  @include roboto;
  font-weight: 400;
}

@mixin roboto_regular_uppercase {
  @include roboto_regular;
  text-transform: uppercase;
}

@mixin roboto_bold {
  @include roboto;
  font-weight: 700;
}
