// Resume Styles
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @include roboto;
}

p,
a,
li,
span,
label,
input,
textarea {
  @include roboto_regular;
  font-size: $base-font-size;
  padding: 1px;
}

// Page header styles
.c-resume-header {
  grid-area: resume-header;
  background-color: $header-color;
  text-align: center;
  margin: 0;

  .c-resume-header__title {
    text-transform: uppercase;
    margin: 0;
    padding: 5px;
  }

  .c-resume-header__name {
    margin: 0;
    padding: 5px;
  }

  .c-resume-header__contact-list {
    background: $dark-color;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    .c-resume-header__contact-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .c-resume-header__contact-icon {
        display: inline-block;
        fill: $white;
        width: 1.25em !important;
        height: 1.25em !important;
      }

      .c-resume-header__contact-link {
        text-decoration: none;
        color: $accent-color;
        margin-left: 3px;
      }
    }
  }
}

// Page body styles
.c-resume-body {
  grid-area: resume-body;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-column right-column";
  padding: 5px;
}

// Section styles
.c-resume-section {
  padding-bottom: 5px;

  .c-resume-section__header {
    padding: 5px 0px;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-areas: "section-accent section-heading";

    .c-resume-section__accent {
      grid-area: section-accent;
      justify-self: start;
      align-self: center;
      width: 20px;
      height: 25px;
      border-radius: 5px;
      background-color: #2ceaa3;
    }

    .c-resume-section__title {
      grid-area: section-heading;
      margin: auto 5px;
    }
  }
}
// Entry Styles
.c-resume-entry {
  padding: 5px 0;
  .c-resume-entry__header {
    .c-resume-entry__name {
      text-decoration: underline;
    }

    .c-resume-entry__details {
      text-transform: uppercase;
    }
  }

  .c-resume-entry__body {
    .c-resume-entry__task-list {
      margin-left: 20px;
    }
  }
}

// Skills Section
.c-resume-section__float-container {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .c-resume-section__float-item {
    color: $dark-color;
    background-color: $accent-color;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
  }
}
