.icon-light {
  fill: $white;
  padding-right: 3px;
  width: 1.4em !important;
  height: 1.4em !important;
}
// Resume Styles
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  @include roboto;
}

p,
a,
li,
span,
label,
input,
textarea {
  @include roboto_regular;
  font-size: $base-font-size;
  padding: 1px;
}

// Utility classes
.content-section {
  padding-bottom: 5px;
}

.section-header {
  padding: 5px 0px;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-areas: "section-accent section-title";
}

.section-accent {
  grid-area: section-accent;
  display: flex;
  align-items: center;
}

.accent-block {
  width: 20px;
  height: 25px;
  border-radius: 5px;
  background-color: #2ceaa3;
}

.section-title {
  grid-area: section-title;
}

// Page header styles
.page-header {
  grid-area: page-header;
  background-color: $header-color;

  .header-title {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  .resume-name {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .resume-title {
    margin: 0;
    padding: 0;
  }
}

.header-links-container {
  background: $dark-color;
  padding: 5px;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    li {
      list-style: none;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: $accent-color;
    }
  }
}

.header-link-item {
  display: flex;
  align-items: center;
}

.header-link-icon {
  fill: $header-color;
  padding: 2px;
  position: relative;
  top: 3px;
  //bottom: 0px;
}

// Page body styles
.page-body {
  grid-area: page-body;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Section Styles

// Individual entries in a section
.entry-header {
  .entry-role {
    text-decoration: underline;
  }
}
.entry-body {
  ul {
    margin-left: 20px;
  }
}
