// Variables
$container-width: 980px;

// Background Colors
$header-color: #F0F0F0;
$body-color: #F5F5F5;
$dark-color: #353a47;
$accent-color: #2ceaa3;
$link-color: #0074D9;

$white: #fff;
$black: #333;

// Text
$text-color: $black;

// Fonts
$body-font: 'Roboto', sans-serif;

// Font-sizes
$base-font-size: 14px;

