@import "fontawesome/scss/variables"; // Variables
$container-width: 980px;

// Background Colors
$header-color: #f0f0f0;
$body-color: #f5f5f5;
$dark-color: #353a47;
$accent-color: #2ceaa3;
$link-color: #0074d9;

$white: #fff;
$black: #333;

// Text
$text-color: $black;

// Fonts
$body-font: "Roboto", sans-serif;

// Font-sizes
$base-font-size: 14px;
