<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">

      <header class="page-header">
        <div class="header-title-wrapper">
          <h1 class="resume-name">{{ site.resume_name }}</h1>
          <h6 class="resume-title">{{ site.resume_title }}</h6>
        </div><!-- end of title-wrapper -->
        <div class="header-links-wrapper">
          {% include header-links.html %}
        </div><!-- end of contact-wrapper -->
      </header>

      {% if site.resume_section_about %}
      <!-- begin About -->
      <section class="content-section">
        <header class="section-header">
          <div class="highlight"></div>
          <h2>About Me</h2>
        </header>
        <div class="resume-item">
          <p>{{ site.data.about.summary }}</p>
        </div><!-- end of resume-item -->
      </section>
      <!-- end About -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">
        <header class="content-header">
          <div class="highlight"></div>
          <h2>Professional Project Work</h2>
        </header>

        {% for project in site.data.projects %}
        <div class="resume-item">
          <h4 class="resume-item-title">{{ project.role }}</h4>
          <h5 class="resume-item-details">{% if project.url %} <a href="{{ project.url }}" target="_blank">{{ project.name }}</a> {% else %}{{ project.name }}{% endif %}</h5>
          <h5 class="resume-item-details">{{ project.company }}  &bull; {{ project.date }}</h5>
          <p class="resume-item-summary">{{ project.summary }}</p>
          <ul>
            <h6>Main Responsibilities: </h6>

            {% for task in project.tasks %}
              <li><strong>{{ task.title }}: </strong>{{ task.description }}</li>
            {% endfor %}
          </ul>        
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
        <section class="content-section">
          <header class="content-header">
            <div class="highlight"></div>
            <h2>Skills & Competencies</h2>
          </header>
          <div class="resume-item">
            {% for skill in site.data.skills %}
            <p class="skill-item">{{ skill.skill }}</p>
            {% endfor %}
          </div>
        </section><!-- end of resume-item -->
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_work %}
      <!-- begin Work -->
      <section class="content-section">
        <header class="content-header">
          <div class="highlight"></div>
          <h2>Work Experience</h2>
        </header>

        {% for job in site.data.work %}
        <div class="resume-item">
          <h4 class="resume-item-title">{{ job.position }}</h4>
          <h5 class="resume-item-details">{{ job.company }} &bull; {{ job.duration }}</h5>
          <p class="resume-item-summary">{{ job.summary }}</p>
          <ul>
            <h6>Main Responsibilities: </h6>
            {% for task in job.tasks %}
              <li><strong>{{ task.title }}: </strong>{{ task.description }}</li>
            {% endfor %}
          </ul>
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Work -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">
        <header class="content-header">
          <div class="highlight"></div>
          <h2>Education</h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item">
          <h4 class="resume-item-title">{{ education.degree }}</h4>
          <h5 class="resume-item-details">{{ education.uni }} &bull; {{ education.year }}</h5>

          {% if education.awards %}
          <ul>
            <h6>Awards and Achievements: </h6>
            {% for award in education.awards %}
              <li>{{ award.award }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div><!-- end of resume-item -->
        {% endfor %}
      </section>
      <!-- end Education -->
      {% endif %}


    </div>
    <!-- end of wrapper -->
  </body>
</html>